.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.series1{background-image:url(http://img.youtube.com/vi/05l6KLgYXok/mqdefault.jpg);}
.series2{background-image:url(../images/life.jpg);}
.series3{background-image:url(../images/series3.jpg);}
/*.series4{background-image:url(../images/series4.jpg);} */

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:240px;height:135px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.8);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.8);
            filter: brightness(1.8) grayscale(1) opacity(.8);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.series { display: inline; float: left; width: 240px; height: 165px; margin-right:10px; }
.series_pic {width: 240px; height: 105px; font-size:24px; text-align:center; font-weight: bold; line-height: 26px;
color: #EEE;
text-shadow:
2px 2px 0 #111,
-1px -1px 0 #111,  
1px -1px 0 #111,
-1px 1px 0 #111,
1px 1px 0 #111;
}
.series_level {width: 240px; height: 30px; background-color: blue; color: white; text-align:center; text-shadow: 1px 1px #444; font-size:20px; font-weight: bold;}

/* Extras */
.cc-selector a:visited{color:#888}
.cc-selector a{color:#444;text-decoration:none;}
.cc-selector p {margin-bottom:.3em;}
.cc-selector {
     margin: 0 auto;
     width: 600px; 
}
.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }
span.cc{ color:#6d84b4 }

.urlImg { width: 280px; height:262px; display:inline-block; vertical-align:top; margin-right:20px; font-size:26px; text-align:center; font-weight: bold; line-height: 26px; color: #EEE; text-decoration: none; padding-top:10px;
text-shadow:
2px 2px 0 #111,
-1px -1px 0 #111,  
1px -1px 0 #111,
-1px 1px 0 #111,
1px 1px 0 #111;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(.5) opacity(.8);
       -moz-filter: brightness(1.8) grayscale(.5) opacity(.8);
            filter: brightness(1.8) grayscale(.5) opacity(.8);
                }
.urlImg:hover { text-decoration: none;
    -webkit-filter: brightness(1.2) grayscale(.1) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.1) opacity(.9);
            filter: brightness(1.2) grayscale(.1) opacity(.9);
                          } 