body {
    margin:0;
    padding:0;
    background: url("../images/vine201h.jpg") center top repeat-x; 
    font-family: 'Josefin Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

img { border:0; }

.clear { clear:both; }

p {
    line-height:18px;
    font-size:13px;
    /* color:#97897a; */
    color: black;
}

h1 {
        font-family: 'Josefin Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
      font-size: 30px;
        color:#567038;
      margin:0;
      padding:0;
        line-height: 32px;
}

h2 {
    font-size:20px;
    font-weight:normal;
}

h3 {
  color:#567038;
} 

.maintext { font-weight: normal; font-size:15px; } 

a {
  color:#0B61A4;
}

#all {
    width:1012px;
    margin:20px auto;
    position: relative;
}

#logo {
    float:left;
    margin-left: 20px;
}

#menu {
    float:right;
    text-align:right;
    margin-top: 5px;
    margin-right: 10px;
}

.selectus {
    padding:3px;
    border:1px solid #ccc;
    font-size:13px;
}

.nivel {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: #0B61A4;
}

.nivel_text {
  padding-top: 7px;
    padding-left: 2px;
    font-size: 11px;
    color: white;
    text-align:center;
    line-height: 12px;
    margin-right:2px;
}

.menu {
    padding:9px 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display:block;
    background-color:#3A3A3C;
    color:white;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0px;
    border:0;
    text-align:center;
}

.logout {
    padding-left: 3px;
}    

.menu a {
    color: white;
    text-decoration:none;
}

.menu a:hover {
    color: #FAA228;
    text-decoration:underline;
}

.menu_active {
    background: #3A3A3C;
    color: white;
    padding: 8px 30px;
    border-radius: 0;
}

.menu_active a {
  background: #3A3A3C;
    color:white;
    text-shadow: #d9d677 1px 1px 0px;
}

.menu_red a {
    color:white;
    text-shadow: black 1px 1px 0px;
}

.menu_red {
    /*background:#913300;*/
    background:#FF9273;
    color:white;
    text-shadow: black 1px 1px 0px;
}

#static_menu {
  width: 1016px; 
    height: 38px; 
  background-color: #3A3A3C;
    margin-top: -20px;
    margin-bottom: 0px;
}

#static_menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}

#static_menu ul li {
    float:left;
    width: 140px;
    padding: 3px 5px 3px 5px;
    text-align: center;
    background-color: #3A3A3C;
    border-right: 2px solid #E0E0E0;
}

#static_menu ul li a {
    font-size:20px;
    color:white;
    text-decoration:none;
    font-weight:normal;
    font-style:italic;
}

#static_menu ul li a:hover {
    text-decoration:none;
    /*color:#c1bc30;*/
    color:#FAA228;
}

#content {
  margin: 0px;
    margin-top: -10px;
  padding: 10px;
  background-color: white;
}

#content table {
    font-size:13px;
}

#footer {
  background-color: white;
    margin-top:0px;
  border-bottom:4px solid #FAA228;
    font-size:12px;
    color:#3A3A3C;
    padding:10px;
}

#submenu {
    width:160px;
    border-right:1px solid #EAEAD9;
    padding-top:22px;
}

#submenu ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}

#submenu ul li {
    margin-bottom:7px;
    font-size:14px;
}

#submenu ul li a {
    color:#2f1b05;
    text-decoration:none;
}

#submenu ul li a:hover {
    color:#913300;
    text-decoration:underline;
}

.star {
    font-size:20px;
    font-weight:bold;
    color:#913300;
    vertical-align:middle;
    
}

#content #form {
    font-size:13px;
}

.inputus {
    width:100%;
    height:30px;
    background:white;
    border:1px solid #ccc;
    padding-left:5px;
}

.error {
    background:#F4DEE1;
    border:1px solid #E4C9CE;
    padding:10px 10px 10px 40px;
    color:#521d00;
    font-size:12px;
    background-image:url("../images/warning.png");
    background-repeat:no-repeat;
    background-position:10px center;
}

#nice_table {
    background:#F7F8F2;
    border:1px solid #EBE9DA;
}

#nice_table td {
    padding:8px;
    font-size:13px;
    color:#2f1b05;
}

.thead {
    background:#E9EADA;
    font-weight:bold;
    color:#75614c;
}


.tbl {
    border-left:1px solid #EBE9DA;
}

.tbb {
    border-bottom:1px solid #EBE9DA;
}
#nice_table .paginare td {
    font-size:12px;
    color:#968876;
}

.paginare a{
    color:#968876;
    text-decoration:none;
    font-weight:bold;
}    

.paginare a:hover {
    color:#913300;
    text-decoration:underline;
    color:#2f1b05;
}    

.nr {
    /*background:#301B06;*/
    background:#FF4900;
    text-align:center;
    color:white;
    font-family:Georgia;
    font-size:25px;
    font-weight:normal;
    font-style:italic;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding-bottom:4px;
}

.red {
    /*color:#913300;*/
    color:red;
}


#submenu_msg ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}

#submenu_msg ul li {
    margin-bottom:5px;
    font-size:12px;
}

#submenu_msg ul li a {
    color:#2f1b05;
    text-decoration:none;
}

#submenu_msg ul li a:hover {
    color:#913300;
    text-decoration:underline;
}

#no_padding td { padding:0; }

.menu_mic {
    padding:6px 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display:block;
    background:#0B61A4;
    color:white;
    letter-spacing:0px;
    border:0;
    font-family:Arial;
    text-align:center;
    font-size:11px;
}

.menu_mic_red {
    background:#913300;
}

.menu_mic a {
    color:white;
    text-decoration:none;
}

.menu_mic a:hover {
    text-decoration:underline;
}

.btn {
    float:right;
    width:100px;
    text-align:center;
    padding:5px 3px;
    background:#2F1B03;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top:-26px;
}

.btn a {
    font-size:12px;
    color:white;
    text-decoration:none;
}

.btn a:hover {
    text-decoration:underline;
}

.quote {
    background:#E2E2C6;
}

#header {
  height: 127px;
    width: 1012px;
    overflow: hidden;
    background-color: #FAA228;
    border: 3px outset #FF9B73;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

#login {
  position: absolute;
    width: 290px;
    left: 456px;
    top: -20px; 
    padding: 0;
    margin: 0;
    background-color: rgba(255,255,255,0.7);
}

#login h1 {
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 0;
    color: #A62F00;
    text-align: center;
}

#main {
margin-top: -15px;
/*
	width:1012px;
	height:358px;
	background-image:url("images/Hidh_Hapin_Tjeter2.jpg");
	background-repeat:no-repeat;
	background-size: 1012px;
	*/
}

.login_name {
    height:17px;
    width:200px;
    background: rgba(255,255,255,0.7);
    border:1px solid rgb(182,182,182);
    padding: 4px;
    font-size:14px;
    font-family:Arial;
    color:#b17f64;
    display: block;
    margin: 3px auto;
}

.login_pass {
    height:17px;
    width:200px;
    background: rgba(255,255,255,0.7);
    border:1px solid rgb(182,182,182);
    padding: 4px;
    font-size:14px;
    font-family:Arial;
    color:#b17f64;
    display: block;
    margin: 3px auto;
}

.enter-btn{
    background: #A62F00;
    color: #FFFFFF;
    padding: 8px 0;
    border-radius: 0;
    display: block;
    width: 211px;
    margin: 5px auto;
    border: none;
}

.link_main {
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
}

.link_main a {color: #4D4D4D; }

.why {
    float: left;
    width: 300px;
    border-top: 6px solid #66A3D2;
    padding-top: 10px;
    margin-right: 30px;
    margin-top: 5px;
}

#error {
    margin-top:10px;
    padding:0px 0px 10px 10px;
    font-size:16px;
    color:red;
    font-weight:bold;
    display:block;
    border-bottom:1px solid red;
}

#done {
    margin-top:10px;
    padding:0px 0px 10px 0px;
    font-size:16px;
    color:green;
    font-weight:normal;
    display:block;
    border-bottom:1px solid green;
}

legend {
    font-size:16px;
    font-weight:bold;
}

.btn_wrong {
    width:28px;
    height:26px;
    background-image:url("images/wrong_on.png");
    background-repeat:no-repeat;
    border:0;
}

.btn_done {
    width:28px;
    height:26px;
    background-image:url("images/done_on.png");
    background-repeat:no-repeat;
    border:0;
}

#ref {
  display: inline;
  height: 28px;
    width: 320px;
    padding: 0;
    margin: 0;
    font-size:13px;
    color:#222;
    font-weight:normal;
}

#ref:hover { cursor: pointer; }

#ref_link1 {
    font-size:11px;
    background:#CCCCCC;
    border:1px solid white;
    padding:3px 10px 3px 10px;
    color:black;
    margin-left:10px;
}
#ref_linktext1 { display: none; }
#ref_link2 {
    font-size:11px;
    background:#CCCCCC;
    border:1px solid white;
    padding:3px 10px 3px 10px;
    color:black;
    margin-left:10px;
}
#ref_linktext2 { display: none; }

.mentor {
    background:#DFE4CE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border:1px solid #ccc;
    padding:10px;
    margin-top:10px;
    font-size:11px;
    color:#222;
}

#register-button {
  font-size: 46px;
  font-weight: bold;
  font-family: 'Dancing Script', serif;
  text-align: center;
  text-decoration: none;
  padding: 14px;
  height: 60px;
  width: 210px;
  float: right;
  display: inline;
  color: white;
  background-color: #A62F00;
  border: 3px outset #FFC373;
    margin-left:15px;
}

#register-button:hover {
  background-color: #FFC373;
  border: 3px outset #A62F00;
    color: #A62F00;
}