/* orange #FAA228; old orange #FF7640; dark grey #3A3A3C; green #567038; blue #0B61A4; brown #A62F00; */
/* fonts
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
		font-family: 'Droid Serif';
		font-family: 'Josefin Sans';
*/

body {
    margin:0;
    padding:0;
    background-color: #E0E0E0;
    font-family: 'Josefin Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

img { border:0; }

.clear { clear:both; }

p {
    line-height:18px;
    font-size:13px;
    color: black;
}

h1 {
      font-size: 30px;
        color:#567038;
      margin:0;
      padding:0;
        line-height: 32px;
}

h2 {
    font-size:20px;
    font-weight:normal;
}

h3 {
  color:#567038;
} 

.maintext { font-weight: bold; font-size:16px; } 

a {
  color:#567038;
}

#logo {
    float:left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding: 0px;
}

#logo a {

}

#logo a:hover {

}

#menu {
    float: right;
    text-align: right;
    margin-top: 0px;
    margin-right: 10px;
}

.selectus {
    padding:3px;
    border:1px solid #ccc;
    font-size:13px;
}

.nivel {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: #0B61A4;
}

.nivel_text {
  padding-top: 7px;
    padding-left: 2px;
    font-size: 12px;
    color: white;
    text-align:center;
    line-height: 12px;
    margin-right:2px;
}

.menu {
    padding:9px 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display:block;
    /* background:#2F1B05; */
    background:#FF4900;
    color:#FFC373;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0px;
    border:0;
    font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    text-align:center;
}

.logout {
    padding-left: 3px;
}    

.menu a {
    /* color:#edeee5; */
    color: #FFC373;
    text-decoration:none;
}

.menu a:hover {
    text-decoration:underline;
}

.menu_active {
    /*background: #C13C30;*/
    background: #FFC373;
    color: #A65F00;
    padding: 8px 30px;
    border-radius: 0;
}

.menu_red a {
    color:white;
    text-shadow: black 1px 1px 0px;
}

.menu_red {
    /*background:#913300;*/
    background:#FF9273;
    color:white;
    text-shadow: black 1px 1px 0px;
}

.menu_active a {
    /*color:#646101;*/
    color:#A65F00;
    text-shadow: #d9d677 1px 1px 0px;
}

#static_menu {
  width: 100%; 
    height: 30px;
  padding-top: 110px;
    margin-top: 1px;
    margin-bottom: 8px;
    z-index:0;
}

#static_menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}

#static_menu ul li {
    float:left;
    width: 160px;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border-right: 2px solid #E0E0E0;
}

#static_menu ul li a {
    font-size:24px;
    color:white;
    text-shadow: 1px 1px #444;
    text-decoration:none;
    font-weight:normal;
    font-style:italic;
}

#static_menu ul li a:hover {
    text-decoration:none;
    text-shadow: 1px 1px #97897a;
    color: #FAA228;
}

#content {
  margin: 0px;
  padding: 20px;
  background-color: white;
}

#content table {
    font-size:18px;
}

#footer {
  background-color: white;
    margin-top:0px;
  border-bottom:4px solid #FAA228;
    font-size:12px;
    color:#3A3A3C;
    padding:10px;
}

#submenu {
    width:160px;
    border-right:1px solid #EAEAD9;
    padding-top:22px;
}

#submenu ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}

#submenu ul li {
    margin-bottom:7px;
    font-size:14px;
}

#submenu ul li a {
    color:#2f1b05;
    text-decoration:none;
}

#submenu ul li a:hover {
    color:#913300;
    text-decoration:underline;
}

.star {
    font-size:20px;
    font-weight:bold;
    color:#913300;
    vertical-align:middle;
    
}

#content #form {
    font-size:13px;
}

.inputus {
    width:100%;
    height:30px;
    background:white;
    border:1px solid #ccc;
    padding-left:5px;
}

.error {
    background:#F4DEE1;
    border:1px solid #E4C9CE;
    padding:10px 10px 10px 40px;
    color:#521d00;
    font-size:12px;
    background-image:url("../images/warning.png");
    background-repeat:no-repeat;
    background-position:10px center;
}

#nice_table {
    background:#F7F8F2;
    border:1px solid #EBE9DA;
}

#nice_table td {
    padding:8px;
    font-size:18px;
    color:#2f1b05;
}

.thead {
    background:#E9EADA;
    font-weight:bold;
    color:#75614c;
}


.tbl {
    border-left:1px solid #EBE9DA;
}

.tbb {
    border-bottom:1px solid #EBE9DA;
}
#nice_table .paginare td {
    font-size:18px;
    color:#968876;
}


.paginare a{
    color:#968876;
    text-decoration:none;
    font-weight:bold;
}    

.paginare a:hover {
    color:#913300;
    text-decoration:underline;
    color:#2f1b05;
}    

.nr {
    /*background:#301B06;*/
    background:#FF4900;
    text-align:center;
    color:white;
    font-family:Georgia;
    font-size:25px;
    font-weight:normal;
    font-style:italic;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding-bottom:4px;
}

.red {
    /*color:#913300;*/
    color:red;
}


#submenu_msg ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}

#submenu_msg ul li {
    margin-bottom:5px;
    font-size:12px;
}

#submenu_msg ul li a {
    color:#2f1b05;
    text-decoration:none;
}

#submenu_msg ul li a:hover {
    color:#913300;
    text-decoration:underline;
}

#no_padding td { padding:0; }

.menu_mic {
    padding:6px 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display:block;
    background:#0B61A4;
    color:white;
    letter-spacing:0px;
    border:0;
    font-family:Arial;
    text-align:center;
    font-size:11px;
}

.menu_mic_red {
    background:#913300;
}

.menu_mic a {
    color:white;
    text-decoration:none;
}

.menu_mic a:hover {
    text-decoration:underline;
}

.btn {
    float:right;
    width:100px;
    text-align:center;
    padding:5px 3px;
    background:#2F1B03;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top:-26px;
}

.btn a {
    font-size:12px;
    color:white;
    text-decoration:none;
}

.btn a:hover {
    text-decoration:underline;
}

.quote {
    background:#E2E2C6;
}

#header {
    width: 100%;
    overflow: hidden;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

#login {
  position: absolute;
    width: 290px;
    right: 20px;
    top: 205px; 
    padding: 0;
    margin: 0;
    background-color: rgba(255,255,255,0.6);
}

#login h1 {
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 0;
    color: #FAA228;
    text-align: center;
}

.link_main {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.link_main a {color: #4D4D4D; }

@media only screen and (max-device-width: 720px) {
#login {
  all: initial; /* or unset */
  display: inline;
    float: left;
    width: 100%;
    padding: 0;
    margin: 10px;
    font-size: 32px;
    background-color: #EEE;
    margin-bottom: 10px;
}

#login h1 { font-size:48px; }

input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin-bottom: 5px;
  width: 95%; height: 64px;
  line-height: 64px; font-size: 48px;
  border: 2px solid #FAA228;
}

input[type=submit] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin-bottom: 20px;
  width: 95%; height: 80px;
  line-height: 80px; font-size: 52px;
}

.link_main { font-size: 28px; }
}

#main {

}

.login_name {
    height:17px;
    width:200px;
    background: rgba(255,255,255,0.7);
    border:1px solid rgb(182,182,182);
    padding: 4px;
    font-size:14px;
    font-family:Arial;
    color:#b17f64;
    display: block;
    margin: 3px auto;
}

.login_pass {
    height:17px;
    width:200px;
    background: rgba(255,255,255,0.7);
    border:1px solid rgb(182,182,182);
    padding: 4px;
    font-size:14px;
    font-family:Arial;
    color:#b17f64;
    display: block;
    margin: 3px auto;
}

.enter-btn{
    background: #FAA228;
    color: #FFFFFF;
    padding: 8px 0;
    border-radius: 0;
    display: block;
    width: 211px;
    margin: 5px auto;
    border: none;
}

.why {
    float: left;
    width: 300px;
    border-top: 6px solid #66A3D2;
    padding-top: 10px;
    margin-right: 30px;
    margin-top: 5px;
}

#error {
    margin-top:10px;
    padding:0px 0px 10px 10px;
    font-size:16px;
    color:red;
    font-weight:bold;
    display:block;
    border-bottom:1px solid red;
}

#done {
    margin-top:10px;
    padding:0px 0px 10px 0px;
    font-size:16px;
    color:green;
    font-weight:normal;
    display:block;
    border-bottom:1px solid green;
}

legend {
    font-size:16px;
    font-weight:bold;
}

.btn_wrong {
    width:28px;
    height:26px;
    background-image:url("../images/wrong_on.png");
    background-repeat:no-repeat;
    border:0;
}

.btn_done {
    width:28px;
    height:26px;
    background-image:url("../images/done_on.png");
    background-repeat:no-repeat;
    border:0;
}

#ref {
  display: inline;
  height: 28px;
    width: 320px;
    padding: 0;
    margin: 0;
    font-size:13px;
    color:#222;
    font-weight:normal;
}

#ref_link1 {
    font-size:11px;
    background:#CCCCCC;
    border:1px solid white;
    padding:3px 10px 3px 10px;
    color:black;
    margin-left:10px;
}
#ref_linktext1 { display: none; }
#ref_link2 {
    font-size:11px;
    background:#CCCCCC;
    border:1px solid white;
    padding:3px 10px 3px 10px;
    color:black;
    margin-left:10px;
}
#ref_linktext2 { display: none; }

.mentor {
    background:#DFE4CE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border:1px solid #ccc;
    padding:10px;
    margin-top:10px;
    font-size:11px;
    color:#222;
}

#register-button {
  font-size: 46px;
  font-weight: bold;
  font-family: 'Dancing Script', serif;
  text-align: center;
  text-decoration: none;
  padding: 14px;
  height: 60px;
  width: 210px;
  float: right;
  display: inline;
  color: white;
  background-color: #FAA228;
  border: 3px outset #FFC373;
    margin-left:20px;
}

#register-button:hover {
  background-color: #FFC373;
  border: 3px outset #FAA228;
    color: #567038;
}

.homepage-series {
  height: 450px;
  margin-top: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-repeat:no-repeat;
    background-size: cover;
    line-height: 20px;
}

.homepage-seriesleft {
display: inline;
float: left;
height: 240px;
width: 320px;
}

.homepage-seriesleft h1 {
color: white; font-size: 40px; margin-bottom:10px; text-align: center; padding:0; text-shadow: 1px 1px black; font-weight: normal;
}

.homepage-seriespic {
border: 2px solid #D0352C; background: url(http://img.youtube.com/vi/05l6KLgYXok/mqdefault.jpg) no-repeat; height: 180px; width: 320px; 
}

.homepage-seriespic img {
width: 160px;
margin-top: 38px;
opacity: 0.5;
}

.homepage-seriespic img:hover {
opacity: 0.8;
}

.seriestitle { margin-bottom: 20px; }

.seriestitle a {
font-size: 25px;
color: white;
text-decoration: none;
}
.seriestitle a:hover {
color: #FAA228;
}
.serieslink a { font-size:18px; font-weight: bold; color:#FAA228; text-decoration: none; }
.serieslink a:hover { text-decoration: underline; }

.homepage-seriesright {
font-size: 16px;
display: inline;
float: left;
height: 240px;
width: 440px;
margin-left:180px;
color: white;
}