#tooltip {
    position: absolute;
    z-index: 3000;
    background-color: white;
    box-shadow: 4px 4px 2px #444;
    font-size: 18px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#tooltip h3, #tooltip div { margin: 0; }

.verset {
    width:700px;
}

.verse_title {
  height:20px;
  width:670px;
  background-color: #0B61A4;
    padding: 10px 15px 10px 15px;
    color: white;
    font-weight: bold;
}

.verse_text {
  width:670px;
    padding: 10px 15px 10px 15px;
    border: 2px solid #0B61A4;
    color:#111;
    line-height:23px;    
}