.video-content {
    margin: 0 auto;
    padding: 0 15px;
        position: relative;
        z-index:0;
}
.header-unit {
  height: 360px;
  border: 2px solid #FF7640;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 0px;
}
#video-container {
    position: absolute;
}
#video-container {
    top:0%;
    left:0%;
    height:360px;
    /*min-width:1152px;*/
    width: 100%;
    overflow: hidden;
}
video {
    position:absolute;
    z-index:-100;
}
video.fillWidth {
    min-width:1152px;
    min-height:360px;
    width:100%;
}